@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i|Fira+Mono:500|Nunito:400,700&display=swap');

:root {
    --accent-main: #6886c5;
    --accent-main-dark: #5d649f;
    --accent-alt: #ffacb7;
    --accent-alt-2: #d8a5eb;

    --dark-trans: rgba(.2,.2,.2,.175);

    --darkest: #343434;
    --dark: #545454;
    --mid: #aaa;
    --light: #f2ecea;
    --light-alt: #f5f2f0;
    --lightest: #ffffff;
}

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font-family: 'Nunito', Arial, Helvetica, sans-serif;
	color: var(--darkest);
	vertical-align: baseline;
}

html {
    font-size: 20px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:focus {
    text-decoration: underline;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

a, a:active {
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
}

p, li, div, a {
    font-size: 1.0rem;
    line-height: 1.25rem;
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3.0rem;
    line-height: 3.0rem;
    margin: 0.3rem 0;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.4rem;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

code, pre, code span, pre span {
    font-family: 'Fira Mono', 'Courier New', Courier, monospace !important;
    font-size: 0.85rem !important;
    line-height: 0.9rem !important;
}

code, pre {
    border-radius: 0.25rem !important;
    background-color: var(--light);
}

code {
    padding: 0.175rem 0.375rem !important;
}

pre {
    display: block;
    border-radius: 0.5rem;
    background-color: var(--light);
    width: 80vw;
    max-width: 32rem;
    padding: 0.40rem 1.5rem !important;
    transform: translateX(-50%);
    margin-left: 50% !important;
}

pre code {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0.50rem 0 !important;
    overflow-x: auto;
    overflow-y: hidden;
}

#contact table {
	margin: 0 auto;
}

#contact table td{
	width: 50%;
	padding: 0 1rem 0.5rem 0;
}

#contact table td:not(:last-child):first-child {
	text-align: right;
}

#contact table td:last-child:before {
	content: ' ';
	display: inline-block;
	vertical-align: bottom;
	margin-right: 1rem;
	width: 24px;
	height: 24px;
	background-image: url("img/east.svg");

}

header .name::after {
    content: 'foster-smith';
    white-space: nowrap;
}
