@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');

/* === RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* accessibility, remove all anims / transitions if requested */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* === THEMING === */

:root {
    --bg-main: #222222;
    --fg-main: #f7f7f7;
}

body {
    background-color: var(--bg-main);
}

* {
    font-family: 'Merriweather Sans';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--fg-main);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather';
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.0rem;
    line-height: 3.0rem;
    margin: 0.3rem 0;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.4rem;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

header img {
    height: 8rem;
    font-family: 'Merriweather';
    font-size: 3rem;
    line-height: 3.75rem;
}

/* === LAYOUT === */

header, main {
    width: calc(100vw - 4rem);
    max-width: 32rem;
    margin: 0 auto;
}

header {
    position: relative;
    margin-top: 3rem;
}

main {
    margin-top: 2rem;
}

/* === NAVBAR === */

hr {
    border: none;
    border-top: 2px solid var(--fg-main);
}

.nav-holder {
    bottom: 0;
    position: absolute;
    width: 32rem;
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    margin: 0.25rem 1rem;
    text-decoration: none;
}