.header-wrapper {
	z-index: 11;
	padding: 2.25rem 0;
	width: 100%;
	background-color: var(--accent-main);
	margin-bottom: 5rem;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
}

main {
	position: relative;
}

nav {
	background-color: var(--accent-alt);
	position: absolute;
	bottom: -4.25rem;
	left: 0;
}

nav a, 
nav a:hover 
{
	text-decoration: none;
}

nav a {
	z-index: 10;
	color: var(--dark);
	position: relative;
	display: inline-block;
	padding: 0.5rem 1rem;
	transition: all 0.15s;
	cursor: pointer;
}

nav a::before {
	content: '';
	z-index: -1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	transition: all 0.15s;
	background-color: var(--dark);
}

nav a:hover::before {

	height: 0.25rem;
}

nav a.active {
	color: var(--light);
}

nav a.active::before {
	height: 100%;
}

img.pfp {
	margin: 1rem 1rem 0.5rem 0.5rem;
	width: 6rem;
	height: 6rem;
	border-radius: 4rem;
	float: left;
}

section {
	margin-bottom: 4rem !important;
}

section h2 {
	margin-bottom: 1rem;
}

.mid-aligned {
	position: relative;
	display: block;
	width: calc(100% - 2rem);
	max-width: 40rem;
	margin: 0 auto 1rem;
	padding: 0 1rem;
}

header h1, 
header h2{
	color: var(--lightest);
	/*
	text-shadow: .1rem .1rem 0 var(--accent-alt);
	*/
}

.intro-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 3.5rem);
	margin-left: 0.5rem;
	padding: 1px 1rem;
	background-color: var(--accent-alt);
}

.intro-shadow {
	z-index: -1;
	position: absolute;
	top: -0.5rem;
	left: -0.5rem;
	padding: 1rem;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
}

section h2 {
	z-index: 1;
	display: inline-block;
	position: relative;
}

section h2:after {
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
	width: calc(100% + 2rem);
	left: -1rem;
	bottom: 0.25rem;
	height: 0.35rem;
	background-color: var(--accent-alt);
}

.intro {
	width: 100%;
	position: relative;
}

.description p:first-of-type {
	margin-top: 1rem;
}

.intro p:first-of-type {
	margin-top: 1rem;
}

.bracket {
	position: absolute;

	width: 1.5rem;
	height: 0.5rem;

	background-color: var(--accent-alt);
}

.bracket:before {
	content: ' ';
	display: block;
	position: absolute;

	height: 1.5rem;
	width: 0.5rem;

	background-color: var(--accent-alt);
}

.bracket:not(.inverted) {
	top: -2rem;
	left: -2rem;
}

.bracket.inverted {
	bottom: -2.5rem;
	right: -2.5rem;
}

.bracket.inverted:before {
	margin-left: 1rem;
	margin-bottom: 1rem;
	top: -1rem;
}

.game-showcase {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}

.game-showcase.bg-alt .description {
	background-color: var(--accent-alt-2);
}

.game-showcase.bg-alt .description p,
.game-showcase.bg-alt .description p strong{
	color: var(--darkest);
}

.game-showcase .preview {
	align-self: stretch;
	position: relative;
	min-height: 0rem;
	height: 24rem;
}

.game-showcase .slider {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.game-showcase .description * {
	color: var(--lightest);
}

.game-showcase .description {
	position: relative;
	padding: 1rem 2rem;
	background-color: var(--accent-main);
}

.preview .infobox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: var(--dark);
	transition: all 300ms;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
}

.bracket.chonky {
	display: none;
}

.bracket.chonky {
	transition: all 150ms;
	height: .75rem;
	width: 2.25rem;
}

.preview:hover .bracket {
	width: 3rem;
}

.preview .bracket:before {
	transition: all 150ms;
}

.bracket.chonky:before {
	width: .75rem;
	height: 2.25rem;
}

.preview:hover .bracket:before {
	height: 3rem;
}

.preview .bracket:not(.inverted) {
	top: -1.5rem;
	left: -1.5rem;
}

.bracket.chonky.inverted {
	right: -1.5rem;
	bottom: -1.5rem;
}

.bracket.chonky.inverted:before {
	margin: 0 0 1.5rem 1.5rem;
	top: -1.5rem;
}

.preview:hover .bracket.inverted:before {
	margin: 0 0 2.25rem 2.25rem;
	top: -2.25rem;
}

.infobox *,
.infobox .platforms,
.infobox .platforms * {
	color: var(--lightest);
	text-shadow: 0 0 0.5rem var(--dark);
}

.infobox .platforms {
	margin-top: 2rem;
}

.infobox p {
	width: calc(100% - 4rem);
	margin: 0 2rem 0.5rem 2rem;
}

.infobox:last-child {
	padding-bottom: 1.5rem;
}

.infobox table {
	border-collapse: collapse;
	border-spacing: 1rem;
}

.infobox td {
	color: var(--lightest);
}

.preview .image-holder {
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.preview .image-holder img {
	width: 100%;
	height: calc(100% - 7rem);
	object-fit: cover;
	transition: all 300ms;
}

.split {
	display: flex;
	justify-content: space-between;
	grid-gap: 2rem;
}

.split > * {
	flex-basis: 25%;
}

.split h3 {
	margin-bottom: 0.5rem;
}

footer {
	background-color: var(--light);
	color: var(--dark);
	text-align: center;
	padding: 3rem 0 2.5rem;
}

a.button {
	position: relative;
	transition: all 150ms;
	max-width: 40vw;
	display: block;
	font-weight: 700;
	margin: 0.25rem 0 0.75rem;
	padding: 0.5rem;
	text-align: center;
	color: var(--light);
}

a.button:before,
a.button:after {
	transition: all 150ms;
	z-index: -1;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

a.button:before {
	background-color: var(--accent-main-dark);
}

a.button:after {
	background-color: var(--accent-main);
}

a.button:hover {
	color: var(--lightest);
	text-decoration: underline;
	padding: 0.25rem 0.5rem 0.75rem;
}

a.button:hover:before {
	top: 0.25rem;
}

a.button:hover:after {
	top: -0.25rem;
}

a.button:active {
	padding: 0.375rem 0.5rem 0.625rem;
}

a.button:active:before {
	top: 0.125rem;
}

a.button:active:after {
	top: -0.125rem;
}

.contact-links {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.contact-links a {
	flex-basis: 25%;
}

.mini-showcase {
	position: relative;
	margin: 2rem auto 0;
	margin-bottom: 0 !important;
	width: 100vw;
	max-width: 100vw;
}

.mini-showcase.desc {
	background-color: var(--dark);
}

.mini-showcase .select {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	grid-gap: 0;
}

.mini-holder {
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	height: 14rem;
	flex-basis: 14rem;
	flex-grow: 0;
	transition: all 150ms;
	border-bottom: 0 solid var(--dark);
}

.mini-holder img {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 150ms;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.mini-holder::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: calc(50% - 1rem);
	bottom: -5.5rem;
	height: 2rem;
	width: 2rem;
	transform: rotate(45deg);
	transition: bottom 150ms;
	background-color: var(--dark);
}

.mini-holder:hover::after {
	bottom: -5.5rem;
}

.mini-holder.selected::after {
	bottom: -3rem;
}

.mini-holder .bracket 
{
	z-index: -1;
}

.mini-holder .bracket:not(.inverted) {
	top: 0rem;
	left: 0rem;
}

.mini-holder .bracket.inverted {
	bottom: 0rem;
	right: 0rem;
}

.mini-holder.selected .bracket:not(.inverted) {
	top: -1.5rem;
	left: -1.5rem;
}

.mini-holder.selected .bracket.inverted {
	bottom: -1.5rem;
	right: -1.5rem;
}

.mini-description {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.mini-description > div {
	flex-basis: 0;
	overflow: hidden;
	flex-grow: 0;
}

.mini-description .links {
	display: none;
}

.mini-description .active {
	flex-grow: 1;
}

.active .links {
	display: block;
}

.description-holder {
	max-width: 40rem;
	width: calc(100vw - 4rem);
	padding: 0 2rem;
}

.mini-description {
	width: 100vw;
	max-width: 100vw;
}

.description-holder {
	margin: 3rem 0;
}

.description-holder h2,
.description-holder p ,
.description-holder strong {
	color: var(--lightest);
}

.description-holder a {
	color: var(--accent-alt);
}

.links a::before {
	content: '>> ';
}

.minimoji {
	cursor: pointer;
	display: inline-block;
	height: 2.25rem;
	margin: 0 0.25rem;
}

.minimoji img {
	filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.25));
}

.emoji {
	transition: all 0.15s;
	height: 100%;
}

.emoji:hover {
	transform: scale(1.25);
}

form, .responsive-form {
	width: 100%;
}

.responsive-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.responsive-form > div {
	flex-basis: calc(50% - 0.5rem);
}

label, input:not([type="submit"]), textarea {
	display: block;
	width: calc(100% - 0.5rem);
	resize: none;
	box-shadow: none;
}

input:not([type="submit"]), textarea {
	border: 0 !important;
	border-bottom: 0.2rem solid var(--mid) !important;
	box-shadow: none !important;
	background-color: var(--light);
	font-size: 0.8rem;
	line-height: 0.8rem;
	text-decoration: none;
	padding: 0.25rem;
	margin: 0.125rem 0;
	transition: all 0.15s;
}

input:not([type="submit"]):focus, textarea:focus {
	text-decoration: none;
	text-emphasis: none;
	border: 0 !important;
	border-bottom: 0.2rem solid var(--dark) !important;
}

label {
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0.25rem 0;
	text-decoration: none;
}

input:not([type="submit"]) {
	height: 1rem;
	margin-bottom: 0.5rem;
}

textarea {
	height: 7.35rem;
	padding: 0.5rem;
	width: calc(100% - 1rem);
}

input[type="submit"] {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
	transition: all 0.15s;
	cursor: pointer;
}

.submit {
	position: relative;
	cursor: pointer;
	display: block;
	z-index: 10;
	width: 5rem;
	height: 2rem;
	margin: 1rem auto 0;
	background-color: var(--light);
}

.submit:before {
	z-index: -1;
	content: ' ';
	display: block;
	position: absolute;
	bottom: 0rem;
	left: 0;
	height: 0.2rem;
	width: 100%;
	background-color: var(--mid);
	transition: all 0.15s;
}

.submit:hover input,
.submit:active input {
	color: var(--light);
}

.submit:hover::before {
	height: 100%;
	background-color: var(--accent-main);
}

.submit:active::before {
	height: 100%;
	background-color: var(--accent-main-dark);
}
