@media only screen and (max-width: 800px) {
	header h1 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	html {
		font-size: 14px !important;
	}

	.split {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.split > * {
		flex-basis: calc(50% - 2rem);
		margin-bottom: 2rem;
	}

	.contact-links a {
		flex-basis: 40%;
	}

	.mini-showcase {
		width: 100vw !important;
		max-width: 100vw !important;
	}

	section:last-child {
		margin-bottom: 0 !important;
	}
}

@media only screen and (max-width: 480px) {
	.mini-holder {
		height: 10rem;
	}

	.contact-links a {
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 390px) {
	header .name::after {
		content: 'f-s';
	}
}

@media only screen and (min-width: 800px) {
	.responsive-form {
		flex-direction: row;
	}

	img.pfp {
		position: absolute;
		top: 0;
		left: 0;
	}

	.intro-wrapper {
		width: calc(100% - 11rem);
		margin-left: 8rem;
	}

	.game-showcase {
		flex-direction: row;
		justify-content: flex-end;
	}

	.game-showcase.alt {
		flex-direction: row-reverse;
	}

	.game-showcase .preview {
		margin: 0 4rem;
		flex-basis: 22rem;
		height: auto;
	}

	.game-showcase .slider {
		height: 100%;
	}

	.preview .infobox {
		height: 6rem;
		transform: scale(1,1);
		background-color: transparent;
	}

	.infobox .platforms {
		margin-top: 1rem;
	}

	.preview .image-holder {
		height: 100%;
		background-color: var(--dark);
	}

	.preview:hover .infobox {
		transform: scale(1.15, 1.15);
	}

	.game-showcase .bracket {
		display: block;
	}

	.game-showcase .description {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.game-showcase.alt .description {
		align-items: flex-end;
	}

	.game-showcase .description * {
		max-width: 34rem;
	}

	.preview .infobox {
		opacity: 1;
		transition: all 300ms;
	}

	.preview:hover .infobox {
		opacity: 0;
	}

	.infobox:last-child {
		padding-bottom: 0;
	}

	.preview .image-holder img {
		top: 0;
		left: 0;
		height: calc(100% - 6rem);
		width: 100%;
	}

	.preview:hover .image-holder img {
		height: 100%;
	}

	.infobox table {
		width: 20rem;
		max-width: calc(100% - 2rem);
	}

	.mini-showcase .select {
		grid-gap: 2.25rem;
	}

	.mini-showcase .bracket {
		display: block;
	}

	.mini-holder:hover img {
		top: 1.5rem;
		left: 1.5rem;
		width: calc(100% - 3rem);
		height: calc(100% - 3rem);
	}

	.mini-holder.selected img {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1350px) {
	html {
		font-size: 16px !important;
	}

	.game-showcase:not(.alt) .description {
		padding: 1rem 3rem 1rem 2rem;
	}

	.game-showcase.alt .description {
		padding: 1rem 2rem 1rem 3rem;
	}

	.game-showcase .description * { 
		max-width: 30rem;
	}

	.game-showcase:not(.alt) .preview {
		margin: 0 0 0 3rem !important;
	}

	.game-showcase.alt .preview {
		margin: 0 3rem 0 0 !important;
	}

	.game-showcase:not(.alt) .preview .bracket {
		left: -1.5rem;
	}

	.game-showcase:not(.alt) .preview .bracket:before {
		margin: 0;
	}

	.game-showcase.alt .preview .bracket {
		right: -1.5rem;
		left: unset;
	}

	.game-showcase.alt .preview .bracket:before {
		margin-left: 1.5rem;
	}

	.game-showcase.alt .preview:hover .bracket:before {
		margin-left: 2.25rem;
	}

	.mini-description { 
		max-width: 44rem;
		width: 100vw;
	}
}

@media only screen and (min-width: 1350px) { 
	html {
		font-size: 18px !important;
	}

	.game-showcase .description {
		flex-basis: calc(50% - 3rem);
	}

	.game-showcase .description * { 
		max-width: 30rem;
	}

	.game-showcase:not(.alt) .description {
		padding: 1rem 4rem 1rem 2rem;
	}

	.game-showcase.alt .description {
		padding: 1rem 2rem 1rem 4rem;
	}

	.mini-showcase {
		width: calc(100vw - 8rem);
		max-width: 58rem;
	}

	.description-holder .links {
		z-index: 1;
		position: absolute;
		width: 10rem;
		top: 6rem;
		left: calc(50% + 21rem);
	}

	.mini-description { 
		max-width: 44rem;
		width: calc(100vw - 8rem);
	}

	.mini-showcase {
		margin-top: 3rem;
	}

	.mini-holder {
		flex-basis: 0;
		flex-grow: 2;
		height: 15rem;
	}

	.mini-holder.selected::after {
		bottom: -4rem;
	}
}

@media only screen and (min-width: 1920px) { 

	html {
		font-size: 20px !important;
	}
}
